---

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My plain Blog";
---
<BaseLayout pageTitle={pageTitle}>
<h2>posts about stuff</h2>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
    </ul>
 </BaseLayout>